.cn-video-a-inici {
    aspect-ratio: 16/9;
    width: 100%;
    height: calc(100%*9/16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.cn-video-a-inici > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 15%;
    border: 10px solid #369;
    border-radius: 8px;
    background: #69c;
    opacity: 0.9;
    color: #369;
    font-size: 1.5em;
    cursor: pointer;
}

.cn-video-a-inici > a:hover {
    background: #9cf;
    border-color: #fff;
    color: #fff;
}

#id_menjador {
    position: absolute;
    top: 0px;
    left: 0px;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cn-info-inici {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 10px;
    position: relative;
}

.cn-info-inici > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    width: 60%;
    background: #369;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
}

.cn-article-info-inici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.cn-article-info-inici > p {
    display: flex;
    width: 100%;
    padding: 5px;
    font-size: 1.5em;
    color: #222;
}

.cn-article-menu-inici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
}

.cn-article-menu-inici > h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-size: 2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #369;
}

.cn-article-menu-inici > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 8px;
}

.cn-article-menu-inici > a:hover {
    outline: 4px solid #369;
}

.cn-img-menus-inici {
    aspect-ratio: 800/800;
    width: 100%;
    cursor: pointer;
    border-radius: 20px
}

.cn-info-inici > a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5%;
    left: 50%;
    right: 50%;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

.cn-info-inici > a:hover {
    color: #9cf;
}

.cn-info-inici > a:active {
    transform: scale(0.9);
}

@media (max-width: 800px) {
    .cn-video-a-inici > a {
        border-width: 5px;
        font-size: 0.8em;
    }
}

@media (max-width: 550px) {
    .cn-video-a-inici > a {
        border-width: 2px;
        font-size: 0.6em;
    }
  
    .cn-info-inici > h1 {
        font-size: 1em;
        width: 80%;
    }
  
    .cn-article-info-inici > p {
        font-size: 1em;
    }
  
    .cn-article-menu-inici > h3 {
        font-size: 1em;
    }
  
    .cn-article-menu-inici > a {
        width: 50%;
    }
}