.cn-form-update-llista-apats {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    min-height: 150px;
    overflow: hidden;
    border-radius: 12px;
    background: #2bb;
}

.cn-form-div-inputs-update-llista-apats {
    display: flex;
    gap: 5%;
    width: 100%;
    height: 85px;
}

.cn-form-div-inputs-nom-update-llista-apats {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 85px;
    gap: 10px;
    padding: 5px;
}

.cn-input-nom-update-llista-apats {
    display: flex;
    padding: 5px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    background: #fff;
    color: #222;
}

.cn-input-nom-update-llista-apats:focus {
    outline: 4px solid #369;
}

.cn-form-div-inputs-categoria-update-llista-apats {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 85px;
    gap: 10px;
    padding: 5px;
}

.cn-select-categoria-update-llista-apats {
    display: flex;
    padding: 5px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    background: #fff;
    color: #222;
}

.cn-select-categoria-update-llista-apats:focus {
    outline: 4px solid #369;
}

.cn-form-div-inputs-descripcio-update-llista-apats {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 85px;
    gap: 10px;
    padding: 5px;
}

.cn-txtarea-descripcio-update-llista-apats {
    display: flex;
    padding: 5px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    overflow: auto;
    resize: none;
    font-size: 0.8rem;
    background: #fff;
    color: #222;
}

.cn-txtarea-descripcio-update-llista-apats:focus {
    outline: 4px solid #369;
}

.cn-span-update-llista-apats {
    display: flex;
    align-items: center;
    background: #fff;
    color: #b44;
    width: 100%;
    height: 25px;
    font-size: 0.6rem;
    padding-left: 5px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cn-form-div-bttns-update-llista-apats {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    height: 60px;
}

.cn-bttn-cancelar-update-llista-apats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #369;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cn-bttn-cancelar-update-llista-apats:hover {
    background: #9cf;
}

.cn-bttn-cancelar-update-llista-apats:active {
    transform: scale(0.9);
}

.cn-submit-update-llista-apats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: #369;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cn-submit-update-llista-apats:hover {
    background: #9cf;
}

.cn-submit-update-llista-apats:active {
    transform: scale(0.9);
}

@media (max-width: 550px) {
    .cn-form-update-llista-apats {
        min-height: 90px;
    }
    
    .cn-form-div-inputs-update-llista-apats {
        height: 50px;
    }
    
    .cn-form-div-inputs-nom-update-llista-apats {
        min-height: 50px;
    }
    
    .cn-input-nom-update-llista-apats {
        height: 20px;
        font-size: 0.5rem;
    }

    .cn-form-div-inputs-categoria-update-llista-apats {
        min-height: 50px;
    }
    
    .cn-select-categoria-update-llista-apats {
        height: 20px;
        font-size: 0.3rem;
    }
    
    .cn-form-div-inputs-descripcio-update-llista-apats {
        min-height: 50px;
    }
    
    .cn-txtarea-descripcio-update-llista-apats {
        height: 20px;
        font-size: 0.3rem;
    }
    
    .cn-span-update-llista-apats {
        height: 10px;
        font-size: 0.3rem;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        overflow: auto;
    }
    
    .cn-form-div-bttns-update-llista-apats {
        height: 35px;
    }
    
    .cn-bttn-cancelar-update-llista-apats {
        width: 25px;
        height: 25px;
    }
    
    .cn-submit-update-llista-apats {
        width: 50px;
        height: 25px;
        font-size: 0.5rem;
    }
}